body {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navigation bar */
.navigationbar {
    display: flex;
}

.navigationbar .links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.navigationbar .links .link {
    margin-left: 10px;
    margin-right: 10px;
}

.navigationbar .logo {
    flex: 1;
}

.navigationbar-mobile {
    display: flex;
    justify-content: space-around;

    display: none;
}


/* poster */
.poster {
    display: flex;
    background-color: lightgrey;
}
.poster .picture {
    width: 60%;
    margin: 32px 24px;
}
.poster .picture img {
    width: 100%;
}

.poster .text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poster .text .button{
    width: 200px;
    background-color: grey;
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}


/* main setup */
.main {
    display: flex;
}
.main .left-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main .picture {
    width: 100%;
}
.main .picture img {
    width: 100%;
}

.main .right-content {
    width: 30%;
}

.main .right-content .right-sub-content{
    width: 100%;
    display: flex;
    padding: 32px 24px;
}
.main .right-content .right-sub-content .image{
    width: 35%;
}
.main .right-content .right-sub-content .image{
    background-image: url('./src/images/information-orientation.jpg');
    width: 35%;
    height: auto;
}
.main .right-content .right-sub-content .text {
    margin-left: 24px;
}
.right-sub-content:hover{
    background-color: lightgrey;
    transition: 0.5s;
}




@media screen and (max-width: 768px){
    .navigationbar-mobile {
        display: flex;
    }
    .navigationbar {
        display: none;
    }
    .poster{
        display: flex;
        flex-direction: column;
    }
    .poster .picture {
        width: 100%;
        margin: 0;
    }
    .poster .button {
        width: 80%;
    }
    .poster .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .poster .text .button {
        position: relative;
        left: 10px;
        right: 10px;
    }


    .main .left-content{
        display: none;
    }
    .main .right-content {
        width: 93%;
    }
    .main .right-content .right-sub-content .image {
        width: 100%;
    }
    .main .right-content .right-sub-content .image{
        background-image: url('./src/images/information-orientation-mobile.jpg');
        width: 100%;
        height: 200px;
    }
    .main .right-content .right-sub-content{
        display: flex;
        flex-direction: column;
    }
}