html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

body a{
    text-decoration: none;
    color: #222;
}



/* navigation bar */
.navigationbar {
    display: flex;
}
.navigationbar .links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
}
.navigationbar .links .link {
    margin-left: 8px;
    margin-right: 8px;
}
.navigationbar .logo {
    flex: 1;
    display: flex;
    align-items: center;
}
.navigationbar .logo img{
    height: 32px;
}
.navigationbar .logo span:last-child {
    color: lightgray;
}
.navigationbar-mobile {
    display: flex;
    justify-content: space-around;

    display: none;
}




/* poster */
.poster {
    display: flex;
    background-color: lightgrey;
}
.poster .picture {
    width: 60%;
    margin: 32px 24px;
}
.poster .picture img {
    width: 100%;
}
.poster .text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #666;
}
.poster .text .button{
    width: 200px;
    background-color: #666;
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}






/* main setup */
.main {
    display: flex;
}
.main .left-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main .picture {
    width: 100%;
}
.main .picture img {
    width: 100%;
}

.main .right-content {
    width: 30%;
}
.main .right-content .right-sub-content{
    width: 100%;
    display: flex;
    padding: 32px 24px;
    border: #ddd solid 1px;
}
.main .right-content .right-sub-content .image{
    width: 35%;
}
.main .right-content .right-sub-content .image{
    background-image: url('./src/images/information-orientation.jpg');
    background-size: cover;
    width: 35%;
    height: auto;
}
.main .right-content .right-sub-content .text {
    margin-left: 24px;
}
.right-sub-content:hover{
    background-color: lightgrey;
    transition: 0.5s;
}
.main .right-sub-content a{
    color:cornflowerblue;
}


/* div for START LEARNING */
.learning {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.learning .title {
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
}
.learning .cards {
    position: relative;
    left: 56px;
    width: calc(100% - 56px - 56px);
    display: flex;
    flex-wrap: wrap;
}
.learning .cards .card {
    margin: 16px;
    width: calc((100% - 6 * 16px) / 3 );
}
.learning .cards .card .image img{
    width: 100%;
}
.learning .cards .card .text {
    background-color: #fff;
    padding: 16px 16px 32px;
}





/* responsive design */
@media screen and (max-width: 768px){

    /* navigation bar setup */
    .navigationbar-mobile {
        display: flex;
    }
    .navigationbar {
        display: none;
    }

    /* poster setup */
    .poster{
        display: flex;
        flex-direction: column;
    }
    .poster .picture {
        width: 100%;
        margin: 0;
    }
    .poster .button {
        width: 80%;
    }
    .poster .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .poster .text .button {
        position: relative;
        left: 10px;
        right: 10px;
    }

    /* main setup */
    .main .left-content{
        display: none;
    }
    .main .right-content {
        width: 100%;
    }
    .main .right-content .right-sub-content .image {
        width: 100%;
    }
    .main .right-content .right-sub-content .image{
        background-image: url('./src/images/information-orientation-mobile.jpg');
        width: 100%;
        height: 200px;
    }
    .main .right-content .right-sub-content{
        display: flex;
        flex-direction: column;
        width: auto;
    }
}